<!Doctype html>

<html>

<head>  
  <title>Register Member</title>
</head>

<body>

  <form action="/member/addingMember" method="POST">    
      <div class="login">
        <h1>Register New Member</h1>
        <input type="text" name="name" placeholder="Enter Name" required="required" />
        <input type="email" name="email" placeholder="Enter Email" required="required" />
        <input type="text" name="password" placeholder="Set Password" required="required" />
        <input type="number" name="age" placeholder="Enter Age" required="required" />
        <input type="date" name="dob" placeholder="Enter DOB" required="required" />
        <input type="number" name="mobile" placeholder="Enter Phone Number" required="required" />
        <button class="btnRegister" type="submit">Register</button>
      </div>    
  </form>

</body>
</html>