<html>

<head>
    <title>
        <%= title %>
    </title>
</head>
<body style="margin-left: 600px;margin-top: 90px;background-color: rgb(243, 236, 236);">

     

     
    <div class ="main"style="height: 300px;width: 350px;box-shadow: 10px 10px 5px grey;border-radius: 25px;  border: 1px solid black;background-color: rgb(204, 59, 91);">
    

    <h1>Welcome to Guest Page</h1>
    <h2>Hi there!</h2>

    <button class="btnAction" id="logout" onclick="window.location.href = '/member/login';">
        Exit
    </button>

    <button class="btnAction" onclick="window.location.href = '/guest/viewallads';">
        View All Ads
    </button>

</body>
</html>