<!Doctype html>

<html>

<head>  
  <title>Update Password</title>
</head>

<body>
  <form action="/member/updatePassword" method="POST">
    <div class="login">
      <h1>Update Password</h1>
      <input type="hidden" name="id" value="<%=data._id%>" required="required" />      
      <input type="text" name="email" value="<%=data.email%>" readonly /> 
      <input type="text" name="password" value="<%=data.password%>" required="required" />      
      <button type="submit" class="btn btn-primary btn-block btn-large">UPDATE</button>
  </form>
  </div>
  </form>
</body>
</html>